/dts-v1/;

#include "sdm845-comma-common.dtsi"

/ {
	model = "comma tizi";
	compatible = "comma,tizi", "qcom,sdm845";
	qcom,msm-id = <341 0x20001>, <321 0x20001>, <321 0x20000>, <348 0x20001>;
	qcom,board-id = <0x21 0>;
};

&i2c10 {
	status = "okay";
	clock-frequency = <100000>;

	ina231@40 {
		compatible = "ti,ina231";
		reg = <0x40>;
		shunt-resistor = <30000>;
	};
};

&mdss_dsi0 {
	panel@0 {
		compatible = "samsung,ea8074";
		reg = <0>;
		vddio-supply = <&vreg_l14a_1p88>;
		reset-gpios = <&tlmm 6 GPIO_ACTIVE_LOW>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel_in>;
	data-lanes = <0 1 2 3>;
};
