/dts-v1/;

#include "sdm845-comma-common.dtsi"

/ {
	model = "comma mici";
	compatible = "comma,mici", "qcom,sdm845";
	qcom,msm-id = <341 0x20001>, <321 0x20001>, <321 0x20000>, <348 0x20001>;
	qcom,board-id = <0x22 0>;

	lcd3v3: lcd3v3 {
		status = "okay";

		compatible = "regulator-fixed";
		regulator-name = "lcd3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&pm8998_gpios 13 0>;
	};
};

&mdss_dsi0 {
	panel@0 {
		compatible = "dwo,do0200fat07";

		reg = <0>;

		vddio-supply = <&vreg_l14a_1p88>;
		vdd-supply = <&lcd3v3>;

		reset-gpios = <&tlmm 6 GPIO_ACTIVE_LOW>;

		rotation = <90>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel_in>;
	data-lanes = <0>;
};
