[submodule "kernel/linux"]
	path = kernel/linux
	url = https://github.com/torvalds/linux.git
[submodule "kernel/spectra-qcom/camera-driver"]
	path = kernel/spectra-qcom/camera-driver
	url = https://github.com/qualcomm-linux/camera-driver.git
	branch = camera-kernel.qclinux.0.0
