kernel/firmware/*.img filter=lfs diff=lfs merge=lfs -text
userspace/blobs/**/*.so* filter=lfs diff=lfs merge=lfs -text
userspace/blobs/**/*.elf filter=lfs diff=lfs merge=lfs -text
userspace/libs/*.so* filter=lfs diff=lfs merge=lfs -text
userspace/firmware/*.elf filter=lfs diff=lfs merge=lfs -text
userspace/usr/comma/updater filter=lfs diff=lfs merge=lfs -text
userspace/usr/comma/setup filter=lfs diff=lfs merge=lfs -text
userspace/usr/comma/reset filter=lfs diff=lfs merge=lfs -text
userspace/usr/comma/installer filter=lfs diff=lfs merge=lfs -text
userspace/files/CAMERA_ICP.elf filter=lfs diff=lfs merge=lfs -text
userspace/usr/share/fonts/*.otf filter=lfs diff=lfs merge=lfs -text
userspace/usr/share/fonts/*.woff2 filter=lfs diff=lfs merge=lfs -text
